<div class="topnav" id="myTopnav">
    <a href="/translate">Перевести</a>
    <a href="/upload">Загрузить</a>
    <a href="/langs" class="active">Все языки</a>
    <a href="javascript:void(0);" class="icon" onclick="ResponsiveMenuBtn()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="container">
    <h2>Все языки сервиса yandex.translate и их обозначения (обозначения вставлять в разделе "Перевести")</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Название</th><th>Обозначение</th>
        </tr>
        #content#
        <!-- 
            <tr>
                <td>Азербайджанский</td><td>Azerbaijani</td>
            </tr>
            <tr>
                <td>Албанский</td><td>Albanian</td>
            </tr>
        -->
    </table>
</div>